@import "reset.css";

* {
  box-sizing: border-box;
}

.product {
  width: 350px;
  margin: 0 auto;
}

.product .product__preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .product__title {
  display: flex;
  margin: 0 auto;
  padding: 10px 0px;
}

.product .product__description {
  display: flex;
  margin: 0 auto;
  padding: 10px 0px;
  opacity: 0.7;
}

.product .product__title h5 {
  font-weight: 600;
}
.product .product__price {
  display: flex;
  justify-content: space-between;
}
.product .product__price .product__rating {
  font-size: 12px;
}
