@import url("https://fonts.googleapis.com/css?family=Open+Sans:400, 600, 700");
@import "reset.css";

body {
  background-color: white;
  padding: 10px 40px;
  width: 400px;
  box-sizing: border-box;
  margin-top: 20px;
  color: #020202;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.status-bar {
  display: flex;
  justify-content: space-between;
}
.app > div {
  padding: 10px 15px;
}
.app .app__header {
  margin-top: 30px;
}
.app .app__contents {
  width: 100%;
}
.app__bg {
  background: url("https://github.com/realrlgus/kakao-clone-2.0/blob/master/coding_challenge5/images/bg.jpg?raw=true");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  position: relative;
}

.app__header .app__header__column {
  position: absolute;
  top: 50px;
  font-size: 18px;
}
.app__header .app__header__column:last-child {
  right: 15px;
}

.app__img {
  display: flex;
  position: absolute;
  bottom: 25px;
  right: 0;
}
.app__img .app__img-btn {
  background: url("https://github.com/realrlgus/kakao-clone-2.0/blob/master/coding_challenge2/images/avator1.jpg?raw=true");
  margin-right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.app__img-btn:last-child {
  background: inherit;
  background-color: #3f67ff;
  color: white;
}

.app .app__contents {
  background-color: #ffffff;
}

.app__contents .app__contents-tags {
  display: flex;
}
.app__contents-tags .app__contents-item {
  margin-right: 10px;
  font-size: 13px;
  font-weight: 600;
  background-color: #dce2f8;
  color: #3f67ff;
  text-transform: uppercase;
  padding: 10px 15px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}

.info .info__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0px;
}

.info__title .info__title-text {
  font-size: 32px;
  font-weight: 700;
}

.info__title .info__title-icon {
  color: red;
}

.info__location {
  display: flex;
  margin-bottom: 15px;
}

.info__location .info__location-text,
.info__rating .info__rating-distance,
.info__overview .info__overview-title {
  opacity: 0.5;
}

.info__location .info__location-icon {
  color: #3f67ff;
  margin-right: 5px;
}

.info__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__rating .info__rating-star i {
  color: #ffbc00;
}

.info__rating-star .info__rating-text {
  font-weight: 700;
}
.info__overview {
  margin-bottom: 10px;
}

.info__overview .info__overview-title {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 14px;
}

.info__overview .info__overview-text {
  opacity: 0.8;
  line-height: 1.8;
}

.info__readmore {
  margin-bottom: 20px;
}

.info__readmore span {
  cursor: pointer;
  color: #3f67ff;
  font-weight: 700;
}

.info__route,
.info__route .info__route-box,
.info__route .route-btn,
.app__img-btn:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__route .info__route-line {
  width: 60px;
  height: 3px;
  background-color: #3f67ff;
  margin-right: 10px;
}
.info__route .info__route-box {
  width: 70px;
  height: 70px;
  border-radius: 40px;
  background: linear-gradient(gray 50%, #ececec 50%);
}

.info__route .route-btn {
  width: 50px;
  height: 50px;
  background-color: #3f67ff;
  border-radius: 40px;
}

.route-btn i {
  color: white;
  font-size: 20px;
}

.info__footer {
  display: flex;
  justify-content: space-between;
}

.info__footer .info__footer__column {
  margin-right: 20px;
}

.info__footer__column i {
  font-size: 22px;
  opacity: 0.4;
}
.info__footer__column:nth-child(2) i {
  color: #3f67ff;
}
